<div class="covid-controls">

  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">Select location</label>
      <select
        id="control-country"
        class="chooser form-control covid-control"
        data-name="country"
      ></select>
      <p class="help-block">
        The impact of COVID-19 varies between countries.
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">Fatality rates</label>
      <select
        id="control-sourceId"
        class="chooser form-control covid-control"
        data-name="sourceId"
      >
        <option value="0">Imperial College - IFR</option>
        <option value="1">China CDC - CFR</option>
        <option value="2">Korea CDC - CFR</option>
        <option value="3">JAMA Italy - CFR</option>
        <option value="4">MISAN Spain - CFR</option>
      </select>
      <p class="help-block">
        Select estimates of risk of death from infection with the novel coronavirus.
        Estimates vary between countries and over time. Wider testing can reduce CFR estimates.
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">
        Infection rate:
        <span id="pctH-value" class="control-value">30%</span>
      </label>
      <input
        id="control-pctH"
        class="covid-control"
        data-name="pctH"
        type="range"
        min="1"
        max="99"
        step="1"
        value="30"
      >
      <p class="help-block">
        Proportion of all people contracting the novel coronavirus.
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">
        Vary selected fatality rates:
        <span id="pctOfChange-value" class="control-value">0%</span>
      </label>
      <input
        id="control-pctOfChange"
        class="covid-control"
        data-name="pctOfChange"
        type="range"
        min="-100"
        max="100"
        step="1"
        value="0"
      >
      <p class="help-block">
        Try increasing the risk of deaths, e.g. to 50%, for low-income country
        or overwhelmed healthcare. Or decreasing, e.g. to -50%, for expected
        improved treatments and better healthcare.
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">
        Over 60 infection rate:
        <span id="pctH_60plus-value" class="control-value">30%</span>
      </label>
      <input
        id="control-pctH_60plus"
        class="covid-control"
        data-name="pctH_60plus"
        type="range"
        min="1"
        max="99"
        step="1"
        value="30"
      >
      <p class="help-block">
        Proportion of all people over the age of 60 contracting the novel coronavirus.
        The proportion of people below 60 infected is then
        <strong id="pctH_below60-value">30%</strong>.
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">
        Probability of eliminating COVID-19:
        <span id="prElimTimes100-value" class="control-value">0%</span>
      </label>
      <input
        id="control-prElimTimes100"
        class="covid-control"
        data-name="prElimTimes100"
        type="range"
        min="0"
        max="100"
        step="1"
        value="0"
      >
      <p class="help-block">
        Probability of achieving complete elimination of COVID-19 disease before
        it manages to infect the selected proportion of population.
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label class="control-label">
        Infection rate until elimination:
        <span id="pctU-value" class="control-value">0%</span>
      </label>
      <input
        id="control-pctU"
        class="covid-control"
        data-name="pctU"
        type="range"
        min="0"
        max="30"
        step="1"
        value="0"
      >
      <p class="help-block">
        Proportion of population that still gets infected even in the event of
        achieving complete elimination. First increase the probability of
        elimination for this parameter to take effect.
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <button type="button" id="reset-mortality-controls" class="btn btn-default btn-block">
        Reset
      </button>
      <p class="help-block">
        Set all input parameters back to their initial values.
      </p>
    </div>
  </div>

</div>